In [5]:
a = '26-03-2024'

print(a[3:5]) # +ve
print(a[-7:-5]) #-ve
print(a[3:-5]) # +- 
print(a[-7:5]) # +-

03
03
03
03

In [14]:
a = '2024-03-26 08:51  PM'


for i in range(len(a)):
    print(i , a[i] , i-len(a) , sep = '  ---->  ')

0  ---->  2  ---->  -20
1  ---->  0  ---->  -19
2  ---->  2  ---->  -18
3  ---->  4  ---->  -17
4  ---->  -  ---->  -16
5  ---->  0  ---->  -15
6  ---->  3  ---->  -14
7  ---->  -  ---->  -13
8  ---->  2  ---->  -12
9  ---->  6  ---->  -11
10  ---->     ---->  -10
11  ---->  0  ---->  -9
12  ---->  8  ---->  -8
13  ---->  :  ---->  -7
14  ---->  5  ---->  -6
15  ---->  1  ---->  -5
16  ---->     ---->  -4
17  ---->     ---->  -3
18  ---->  P  ---->  -2
19  ---->  M  ---->  -1

In [23]:
a = '2024-03-26 08:51  PM'

# Hours --> 08
print(a[11:13])
print(a[-9:-7])
print(a[11:-7])
print(a[-9:13])

# Hours ---> 80

print('--------------')
print(a[-8:-10:-1])
print(a[12:10:-1])
print(a[12:-10:-1])
print(a[-8:10:-1])

08
08
08
08
--------------
80
80
80
80

In [24]:
a = '2024-03-26 08:51  PM'


for i in range(len(a)):
    print(i , a[i] , i-len(a) , sep = '  ---->  ')

0  ---->  2  ---->  -20
1  ---->  0  ---->  -19
2  ---->  2  ---->  -18
3  ---->  4  ---->  -17
4  ---->  -  ---->  -16
5  ---->  0  ---->  -15
6  ---->  3  ---->  -14
7  ---->  -  ---->  -13
8  ---->  2  ---->  -12
9  ---->  6  ---->  -11
10  ---->     ---->  -10
11  ---->  0  ---->  -9
12  ---->  8  ---->  -8
13  ---->  :  ---->  -7
14  ---->  5  ---->  -6
15  ---->  1  ---->  -5
16  ---->     ---->  -4
17  ---->     ---->  -3
18  ---->  P  ---->  -2
19  ---->  M  ---->  -1

In [33]:
a = '2024-03-26 08:51  PM'

# min --> 51

print(a[14:16])
print(a[-6:-4])
print(a[14:-4])
print(a[-6:16])


print('--------------')
# min ---> 15

print(a[15:13:-1])
print(a[-5:-7:-1])
print(a[15:-7:-1])
print(a[-5:13:-1])

51
51
51
51
--------------
15
15
15
15

# Loops

In [ ]:
For loop - Fixed iteration

for var in iterable:
    stat1
    stat2
    stat3

While loop - Unknown iterable 

1. initilization
2. condition
3. inc / dec

In [ ]:
# How to identify a data type as an iterable


1. len --> function should work

2. print(dir(object)) ---> __iter__ should be present

In [49]:
for hello_world in 'python':
    print(hello_world)

p
y
t
h
o
n

In [37]:
for hello_world in ['python' , 'java']:
    print(hello_world)

python
java

In [36]:
len(['python' , 'java'])

2

In [39]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [41]:
for i in 'hello':
    print('python' , i)

python h
python e
python l
python l
python o

In [ ]:
for iteration 1 --> i == 'h'

    python
    
    
for iteration 2 --> i = 'e'
    python

In [42]:
for i in ['hello' , 'world']:
    print('python' , i)

python hello
python world

In [45]:
for i in ['hello' , 'world']:
    for j in i:
        print(i,j)
    print(end = '\n\n\n')

hello h
hello e
hello l
hello l
hello o



world w
world o
world r
world l
world d

In [52]:
a = ['xyz' , 'pqr']

b = ['age' , 'salary' , 'location']

e_list = []


for i in a:
    for j in b:
        print(i , j)

xyz age
xyz salary
xyz location
pqr age
pqr salary
pqr location

In [57]:
a = ['xyz' , 'pqr' , 'lmn']

b = ['age' , 'salary' , 'location']

e_list = []

for i in a:
    for j in b:
        e_list.append(f"{i},{j}")

In [58]:
e_list

['xyz,age',
 'xyz,salary',
 'xyz,location',
 'pqr,age',
 'pqr,salary',
 'pqr,location',
 'lmn,age',
 'lmn,salary',
 'lmn,location']

In [69]:
a = ['xyz' , 'pqr' , 'lmn']

b = [32 , 43 , 23]

for i in range(len(a)):
    print(a[i] , b[i])

xyz 32
pqr 43
lmn 23